USE [LIBRARY]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USER_NAME] [varchar](65) NOT NULL,
	[PASSWORD] [varchar](65) NULL,
	[ROLE] [nvarchar](20) NULL,
	[FULL_NAME] [nvarchar](150) NULL,
	[Phone] [char](12) NULL,
 CONSTRAINT [PK__ACCOUNT__E0B75F6E8F97A85B] PRIMARY KEY CLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_LOGIN_ACCOUNT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNCTION_LOGIN_ACCOUNT](@USER_NAME VARCHAR(65), @PASSWORD VARCHAR(65))
RETURNS TABLE
AS
RETURN
		SELECT USER_NAME FROM ACCOUNT WHERE USER_NAME = @USER_NAME AND PASSWORD = @PASSWORD
GO
/****** Object:  Table [dbo].[SERIAL_BOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIAL_BOOK](
	[SERIAL] [varchar](15) NOT NULL,
	[TITLE] [nvarchar](100) NOT NULL,
	[PRICE] [int] NOT NULL,
	[QUANTUM] [int] NOT NULL,
	[IMG] [image] NULL,
	[YEAR_PUBLISHED] [char](4) NULL,
	[TAG] [int] NOT NULL,
	[PUBLISH_HOUSE] [char](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_FIND_BOOK_WITH_TAG]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC DBO.PROC_UPDATE_BOOK 'FN03d2', N'ssdadasdasdasdassdass', 'sssger', 'AlssssphaBooks ', 1, Null, 'STARTUP, YOUNG,'--
--select * from log order by TIME_CREATE
--END
--DROP FUNCTION FUNCTION_BOOK_WITH_TAG
CREATE FUNCTION [dbo].[FUNCTION_FIND_BOOK_WITH_TAG] (@TAG VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT * FROM SERIAL_BOOK WHERE TAG LIKE '%' +@TAG +'%'

GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BOOK_NAME]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BOOK_NAME] ()
RETURNS TABLE
AS
RETURN 
	SELECT TITLE FROM SERIAL_BOOK
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[ID_BOOK] [char](10) NOT NULL,
	[BOOK_STATE] [nvarchar](30) NULL,
	[NUMBER_OF_PAGES] [int] NULL,
	[BOOK_STATUS] [bit] NULL,
	[CREATE_AT] [date] NULL,
	[SERIAL] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BOOK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BOOK_SERIAL]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BOOK_SERIAL] ()
RETURNS TABLE
AS
RETURN 
	SELECT SERIAL FROM BOOK

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [varchar](15) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[PHONE] [varchar](15) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[IMG] [image] NULL,
	[CLASS] [nvarchar](30) NULL,
	[DATE_OF_BIRTH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_STUDENT_NAME]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC DBO.PROC_UPDATE_STUDENT 'FN03d2', N'ssdadasdasdasdassdass', 'sssger', 'AlssssphaSTUDENTs ', 1, Null, 'STARTUP, YOUNG,'--


CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_STUDENT_NAME] ()
RETURNS TABLE
AS
RETURN 
	SELECT NAME FROM STUDENT

GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_STUDENT_ID]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_STUDENT_ID] ()
RETURNS TABLE
AS
RETURN 
	SELECT ID FROM STUDENT

GO
/****** Object:  Table [dbo].[BORROW]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROW](
	[ID_BORROW] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARD] [varchar](15) NULL,
	[CREATED_AT] [date] NULL,
	[DUE_DATE] [date] NULL,
	[ACCOUNT] [varchar](65) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BORROW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BORROW_ID]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------------------------STUDENT----------------------------------------------------------------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------------------------BORROW----------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BORROW_ID] ()
RETURNS TABLE
AS
RETURN 
	SELECT ID_BORROW FROM BORROW
GO
/****** Object:  Table [dbo].[BORROW_DETAIL]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROW_DETAIL](
	[ID_BORROW] [int] NOT NULL,
	[RETURN_DATE] [datetime] NULL,
	[COMMENT] [nvarchar](50) NULL,
	[ID_BOOK] [char](10) NULL,
	[BOOK_STATE] [nvarchar](40) NULL,
 CONSTRAINT [PK_BORROW_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID_BORROW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_STUDENT_BORROW]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FUNCTION_GET_STUDENT_BORROW] (@ID VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT  BORROW.ID_BORROW, BORROW.ID_CARD, BORROW.DUE_DATE, ID_BOOK
	FROM BORROW, BORROW_DETAIL
	WHERE BORROW_DETAIL.ID_BORROW = BORROW.ID_BORROW AND ID_CARD = @ID
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_BORROW]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FUNCTION_GET_BORROW] (@ID VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT ID_BOOK, ID_CARD, BOOK_STATE, COMMENT, RETURN_DATE, ACCOUNT, CREATED_AT, DUE_DATE
	FROM BORROW A, BORROW_DETAIL B
	WHERE A.ID_BORROW = @ID AND A.ID_BORROW = B.ID_BORROW
GO
/****** Object:  View [dbo].[VIEW_BORROW_OVER_TIME]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SHIRONEKO--
CREATE VIEW [dbo].[VIEW_BORROW_OVER_TIME]
AS
	SELECT A.ID [Mã phiếu], ID_STUDENT [Mã sinh viên], TIME_CREATE [Ngày tạo], BORROW_TIME [Thời gian mượn]
	FROM BORROW A, BORROW_DETAIL B
	WHERE A.ID = B.ID AND ((GETDATE()) - (7*BORROW_TIME)) >  (DAY(TIME_CREATE))
GO
/****** Object:  View [dbo].[VIEW_ALL_BOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_ALL_BOOK]
AS
	SELECT SERIAL [Mã sách], NAME [Tên sách], AUTHOR [Tác giả], PUBLISH_HOUSE [Nhà xuất bản], QUANTUM [Số lượng], IMG [Hình ảnh], TAG [Thể loại]	
	FROM BOOK
GO
/****** Object:  View [dbo].[VIEW_ALL_STUDENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  VIEW [dbo].[VIEW_ALL_STUDENT]
AS
	SELECT ID [Mã sinh viên], NAME [Họ và Tên], PHONE [Số điện thoại], EMAIL [Địa chỉ email], IMG [Hình ảnh]	
	FROM STUDENT
GO
/****** Object:  View [dbo].[VIEW_ALL_BORROW_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_ALL_BORROW_CARD]
AS
	SELECT A.ID [Mã phiếu], ID_STUDENT [Tên sinh viên] ,[Ngày hết hạn] = ( day(7*BORROW_TIME) + (TIME_CREATE))	
	FROM BORROW A, BORROW_DETAIL B
	WHERE A.ID = B.ID
	GROUP BY a.ID, ID_STUDENT, ( day(7*BORROW_TIME) + (TIME_CREATE))	
----------------------------------------------------------------------------------------------------------------------DATA----------------------------------------------------------------------------------------------------------------------------------------------------------------
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[DATE_OF_BIRTH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR_BOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR_BOOK](
	[SERIAL_BOOK] [varchar](15) NULL,
	[ID_AUTHOR] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_OVERDUE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_OVERDUE](
	[ID_TICKET] [int] NOT NULL,
	[EXPIRED_DATE] [int] NOT NULL,
	[DUE_TO] [ntext] NOT NULL,
	[FINE] [bigint] NOT NULL,
	[TATTERED_PAGES] [int] NULL,
	[CREATED_AT] [smalldatetime] NULL,
	[RULE_VIOLATIONS] [tinyint] NULL,
	[OVERDUE_TICKET] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRARY_CARD](
	[ID_CARD] [varchar](15) NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[EXPIRATION_DATE] [date] NOT NULL,
	[NOTE] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIST_FINES]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIST_FINES](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[PERCENT_BOOK_VALUE] [tinyint] NULL,
	[FINE_PRE_DAY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[ACTION] [nvarchar](100) NULL,
	[TIME_CREATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OVERDUE_TICKET_LIBRARY_CARD](
	[ID] [char](10) NOT NULL,
	[TOTAL_FINE] [bigint] NOT NULL,
	[CREATE_AT] [date] NOT NULL,
	[ID_CARD] [varchar](15) NULL,
 CONSTRAINT [PK_OVERDUE_TICKET_LIBRARY_CARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISH_HOUSE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISH_HOUSE](
	[ID] [char](15) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[PHONE] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD], [ROLE], [FULL_NAME], [Phone]) VALUES (N'', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', NULL, NULL, NULL)
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD], [ROLE], [FULL_NAME], [Phone]) VALUES (N'123', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', NULL, NULL, NULL)
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD], [ROLE], [FULL_NAME], [Phone]) VALUES (N'ADB', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BORROW] ON 

INSERT [dbo].[BORROW] ([ID_BORROW], [ID_CARD], [CREATED_AT], [DUE_DATE], [ACCOUNT]) VALUES (1, N'18150038', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BORROW] OFF
GO
INSERT [dbo].[BORROW_DETAIL] ([ID_BORROW], [RETURN_DATE], [COMMENT], [ID_BOOK], [BOOK_STATE]) VALUES (1, CAST(N'2020-11-30T00:11:54.867' AS DateTime), N'Mượn sách', NULL, NULL)
GO
INSERT [dbo].[LIBRARY_CARD] ([ID_CARD], [CREATED_AT], [EXPIRATION_DATE], [NOTE]) VALUES (N'18150038', CAST(N'2020-12-03' AS Date), CAST(N'2024-12-03' AS Date), N'Thẻ sinh viên')
GO
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'CREATE USE thanhttrinh', CAST(N'2020-11-29T23:28:22.677' AS DateTime))
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'UPDATE PASSWORD FOR USER thanhtrinh', CAST(N'2020-11-29T23:51:20.017' AS DateTime))
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'UPDATE PASSWORD FOR USER thanhtrinh', CAST(N'2020-11-29T23:53:43.763' AS DateTime))
GO
INSERT [dbo].[PUBLISH_HOUSE] ([ID], [NAME], [ADDRESS], [PHONE]) VALUES (N'KHXH           ', N'Khoa học xã hội', NULL, N'0254504540')
GO
INSERT [dbo].[STUDENT] ([ID], [NAME], [PHONE], [EMAIL], [IMG], [CLASS], [DATE_OF_BIRTH]) VALUES (N'18150038', N'Trịnh Việt Thành', N'0916465528', N'thanh@mta.vn', NULL, N'KHMT17', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AUTHOR_B__28FAA4E0E7BE6407]    Script Date: 2/2/2021 1:48:36 PM ******/
ALTER TABLE [dbo].[AUTHOR_BOOK] ADD UNIQUE NONCLUSTERED 
(
	[SERIAL_BOOK] ASC,
	[ID_AUTHOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOK] ADD  DEFAULT ((0)) FOR [BOOK_STATUS]
GO
ALTER TABLE [dbo].[DETAIL_OVERDUE] ADD  DEFAULT ((0)) FOR [TATTERED_PAGES]
GO
ALTER TABLE [dbo].[LIST_FINES] ADD  DEFAULT ((0)) FOR [PERCENT_BOOK_VALUE]
GO
ALTER TABLE [dbo].[AUTHOR_BOOK]  WITH CHECK ADD  CONSTRAINT [FK__AUTHOR_BO__ID_AU__68487DD7] FOREIGN KEY([ID_AUTHOR])
REFERENCES [dbo].[AUTHOR] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AUTHOR_BOOK] CHECK CONSTRAINT [FK__AUTHOR_BO__ID_AU__68487DD7]
GO
ALTER TABLE [dbo].[AUTHOR_BOOK]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_BOOK_SERIAL_BOOK] FOREIGN KEY([SERIAL_BOOK])
REFERENCES [dbo].[SERIAL_BOOK] ([SERIAL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AUTHOR_BOOK] CHECK CONSTRAINT [FK_AUTHOR_BOOK_SERIAL_BOOK]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK__BOOK__SERIAL__607251E5] FOREIGN KEY([SERIAL])
REFERENCES [dbo].[SERIAL_BOOK] ([SERIAL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK__BOOK__SERIAL__607251E5]
GO
ALTER TABLE [dbo].[BORROW]  WITH CHECK ADD  CONSTRAINT [FK__BORROW__ID_CARD__787EE5A0] FOREIGN KEY([ID_CARD])
REFERENCES [dbo].[LIBRARY_CARD] ([ID_CARD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BORROW] CHECK CONSTRAINT [FK__BORROW__ID_CARD__787EE5A0]
GO
ALTER TABLE [dbo].[BORROW]  WITH CHECK ADD  CONSTRAINT [FK_BORROW_ACCOUNT] FOREIGN KEY([ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([USER_NAME])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BORROW] CHECK CONSTRAINT [FK_BORROW_ACCOUNT]
GO
ALTER TABLE [dbo].[BORROW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK__BORROW_DE__ID_BO__73852659] FOREIGN KEY([ID_BOOK])
REFERENCES [dbo].[BOOK] ([ID_BOOK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BORROW_DETAIL] CHECK CONSTRAINT [FK__BORROW_DE__ID_BO__73852659]
GO
ALTER TABLE [dbo].[BORROW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BORROW] FOREIGN KEY([ID_BORROW])
REFERENCES [dbo].[BORROW] ([ID_BORROW])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BORROW_DETAIL] CHECK CONSTRAINT [FK_BORROW]
GO
ALTER TABLE [dbo].[DETAIL_OVERDUE]  WITH CHECK ADD  CONSTRAINT [FK__OVERDUE_T__ID_TI__1AD3FDA4] FOREIGN KEY([ID_TICKET])
REFERENCES [dbo].[BORROW_DETAIL] ([ID_BORROW])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETAIL_OVERDUE] CHECK CONSTRAINT [FK__OVERDUE_T__ID_TI__1AD3FDA4]
GO
ALTER TABLE [dbo].[LIBRARY_CARD]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_LIBRARY_CARD] FOREIGN KEY([ID_CARD])
REFERENCES [dbo].[STUDENT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIBRARY_CARD] CHECK CONSTRAINT [FK_STUDENT_LIBRARY_CARD]
GO
ALTER TABLE [dbo].[OVERDUE_TICKET_LIBRARY_CARD]  WITH CHECK ADD  CONSTRAINT [FK_OVERDUE_TICKET_LIBRARY_CARD_LIBRARY_CARD] FOREIGN KEY([ID_CARD])
REFERENCES [dbo].[LIBRARY_CARD] ([ID_CARD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OVERDUE_TICKET_LIBRARY_CARD] CHECK CONSTRAINT [FK_OVERDUE_TICKET_LIBRARY_CARD_LIBRARY_CARD]
GO
ALTER TABLE [dbo].[SERIAL_BOOK]  WITH CHECK ADD  CONSTRAINT [FK__SERIAL_BO__PUBLI__625A9A57] FOREIGN KEY([PUBLISH_HOUSE])
REFERENCES [dbo].[PUBLISH_HOUSE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERIAL_BOOK] CHECK CONSTRAINT [FK__SERIAL_BO__PUBLI__625A9A57]
GO
ALTER TABLE [dbo].[SERIAL_BOOK]  WITH CHECK ADD  CONSTRAINT [FK__SERIAL_BOOK__TAG__58D1301D] FOREIGN KEY([TAG])
REFERENCES [dbo].[TAG] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERIAL_BOOK] CHECK CONSTRAINT [FK__SERIAL_BOOK__TAG__58D1301D]
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_ACCOUNT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PROC_DELETE_ACCOUNT] 
( 
	@USER_NAME varchar(65)
)
as
begin
delete from ACCOUNT
where USER_NAME = @USER_NAME
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_BOOK] 
	@ID_BOOK VARCHAR(15)
AS
	DELETE BOOK 
	WHERE ID_BOOK= @ID_BOOK

GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BORROW]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[PROC_DELETE_BORROW]
 (@ID_BORROW int)
 as
 begin
delete  from BORROW where ID_BORROW=@ID_BORROW
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BORROW_DETAIL]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_DELETE_BORROW_DETAIL]
 (@ID_BORROW int)
 as
 begin
delete  from BORROW_DETAIL where ID_BORROW=@ID_BORROW
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_DETAIL_OVERDUE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_DELETE_DETAIL_OVERDUE]
 (@ID_TICKET int)
 as
 begin
 delete from DETAIL_OVERDUE where ID_TICKET=@ID_TICKET
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PROC_DELETE_LIBRARY_CARD]
( 
	@ID_CARD varchar(15)
)
as
begin
delete from LIBRARY_CARD
where ID_CARD = @ID_CARD
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_LIST_FINES]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_DELETE_LIST_FINES]
 (@ID tinyint)
 as
 begin
 delete from LIST_FINES where ID=@ID
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[PROC_DELETE_OVERDUE_TICKET_LIBRARY_CARD]
 (@ID char(10))
 as
 begin
 delete from OVERDUE_TICKET_LIBRARY_CARD where ID=@ID
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_PUBLISH_HOUSE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_DELETE_PUBLISH_HOUSE](
	@ID CHAR(15)
)AS
BEGIN
	DELETE PUBLISH_HOUSE WHERE ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_SERIALBOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_SERIALBOOK] 
	@SERIAL VARCHAR(15)
AS
	DELETE BOOK 
	WHERE SERIAL= @SERIAL

GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_STUDENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_STUDENT] 
	@ID VARCHAR(15)
AS
	DELETE STUDENT 
	WHERE ID= @ID

GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_TAG]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_DELETE_TAG](
	@ID INT
)
AS
BEGIN
	DELETE TAG
	WHERE ID=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_ACCOUNT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--delete from log where 1=1
--	select *from ACCOUNT
--select * from log
--select * from log order by TIME_CREATE
--END
----------------------------------------------------------------------------------------------------------------------LOG----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------ACCOUNT----------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE PROC [dbo].[PROC_INSERT_ACCOUNT] 
	@USER_NAME VARCHAR(65), 
	@PASSWORD VARCHAR(65), 
	@SUCC INT OUTPUT
AS
	BEGIN TRY
		INSERT INTO ACCOUNT(USER_NAME, PASSWORD) VALUES (@USER_NAME, @PASSWORD)
		SET @SUCC = @@ROWCOUNT
	END TRY
	BEGIN CATCH
		SET @SUCC = @@ROWCOUNT
	RETURN
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM FUNCTION_LOGIN_ACCOUNT('TAMDAULONG207','1')
----------------------------------------------------------------------------------------------------------------------ACCOUNT----------------------------------------------------------------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------------------------BOOK----------------------------------------------------------------------------------------------------------------------------------------------------------------
--SELECT * FROM BOOK

--INSERT INTO BOOK VALUES('FN01', N'Quốc gia khởi nghiệp', 'Daniel *& Saul Singer', 'AlphaBooks ', 1, Null, 'STARTUP, YOUNG,')

--DROP PROC DBO.PROC_INSERT_BOOK
CREATE PROC [dbo].[PROC_INSERT_BOOK] 
	@ID_BOOK CHAR(10), 
	@BOOK_STATE NVARCHAR(30), 
	@NUMBER_OF_PAGES int, 
	@BOOK_STATUS NVARCHAR(50), 
	@CREATE_AT DATE, 
	@SERIAL varchar(15)
AS
BEGIN
	INSERT INTO BOOK VALUES(@ID_BOOK, @BOOK_STATE, @NUMBER_OF_PAGES, @BOOK_STATUS, @CREATE_AT, @SERIAL)
end

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BORROW]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_INSERT_BORROW]
	@ID_CARD VARCHAR(15),
	@CREATED_AT date,
	@DUE_DATE date,
	@ACCOUNT varchar(65)
	AS
	INSERT INTO BORROW VALUES (@ID_CARD, @CREATED_AT, @DUE_DATE, @ACCOUNT)  
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BORROW_DETAIL]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[PROC_INSERT_BORROW_DETAIL]
 (@ID_BORROW int,@RETURN_DATE datetime,@COMMENT nvarchar(50),@ID_BOOK char(10),@BOOK_STATE nvarchar(40))
 as
 begin
 insert into BORROW_DETAIL values (@ID_BORROW,@RETURN_DATE,@COMMENT,@ID_BOOK,@BOOK_STATE)
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_DETAIL_OVERDUE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_INSERT_DETAIL_OVERDUE]
 (@ID_TICKET int,@EXPIRED_DATE int,@DUE_TO ntext,@FINE bigint,@TATTERED_PAGES int,@CREATED_AT smalldatetime,@RULE_VIOLATIONS tinyint,@OVERDUE_TICKET char(10))
 as
 begin
 insert into DETAIL_OVERDUE values (@ID_TICKET,@EXPIRED_DATE,@DUE_TO,@FINE,@TATTERED_PAGES,@CREATED_AT,@RULE_VIOLATIONS,@OVERDUE_TICKET)
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[PROC_INSERT_LIBRARY_CARD]
( 
	@ID_CARD varchar(15),
	@CREATED_AT date,
	@EXPIRATION_DATE date,
	@NOTE ntext
)
as
begin
insert LIBRARY_CARD
(
	ID_CARD,
	CREATED_AT,
	EXPIRATION_DATE,
	NOTE
)
values 
( 
	@ID_CARD,
	@CREATED_AT,
	@EXPIRATION_DATE,
	@NOTE
)
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_LIST_FINES]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_INSERT_LIST_FINES]
 (@ID tinyint,@NAME nvarchar(100),@PERCENT_BOOK_VALUE tinyint,@FINE_PRE_DAY int)
 as
 begin
 insert into LIST_FINES values (@ID,@NAME,@PERCENT_BOOK_VALUE,@FINE_PRE_DAY)
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_LOG_EVENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC PROC_LOGIN_EVENT 'ADSDASD'
CREATE PROC [dbo].[PROC_INSERT_LOG_EVENT] @ACTION VARCHAR(100)
AS
	INSERT INTO LOG VALUES(@ACTION, SYSDATETIME())
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_INSERT_OVERDUE_TICKET_LIBRARY_CARD]
 (@ID char(10),@TOTAL_FINE bigint,@CREATE_AT date,@ID_CARD varchar(15))
 as
 begin
 insert into OVERDUE_TICKET_LIBRARY_CARD values (@ID,@TOTAL_FINE,@CREATE_AT,@ID_CARD)
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_PUBLISH_HOUSE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_INSERT_PUBLISH_HOUSE](
	@ID CHAR(15),
	@NAME NVARCHAR(100),
	@ADDRESS NVARCHAR(100),
	@PHONE CHAR(10)
)
AS
BEGIN
	INSERT INTO PUBLISH_HOUSE VALUES(@ID, @NAME, @ADDRESS, @PHONE)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_STUDENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select *from book where SERIAL  = 'FN01' and NAME like '%'

--CREATE FUNCTION FUNCTION_FIND_BOOK(@SERIAL NVARCHAR(15)

--SELECT * FROM FUNCTION_BOOK_WITH_TAG('EEE')
----------------------------------------------------------------------------------------------------------------------STUDENT----------------------------------------------------------------------------------------------------------------------------------------------------------------
--DROP PROC PROC_INSERT_STUDENT
CREATE PROC [dbo].[PROC_INSERT_STUDENT] 
	@ID varchar(15), 
	@NAME nvarchar(50), 
	@PHONE varchar(15), 
	@EMAIL varchar(50),
	@IMG image, 
	@CLASS nvarchar(30), 
	@DATE_OF_BIRTH date 

as
begin
insert STUDENT
(
	ID,
	NAME,
	PHONE,
	EMAIL,
	IMG,
	CLASS,
	DATE_OF_BIRTH
)
values 
( 
	@ID,
	@NAME,
	@PHONE,
	@EMAIL,
	@IMG,
	@CLASS,
	@DATE_OF_BIRTH
)
end

GO
/****** Object:  StoredProcedure [dbo].[PROC_LOGIN_EVENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP PROC PROC_LOGIN_EVENT
CREATE PROC [dbo].[PROC_LOGIN_EVENT] @USER_NAME VARCHAR(65)
AS
	BEGIN
		SET @USER_NAME = CONCAT('LOGIN WITH USER NAME ', @USER_NAME)
		EXEC PROC_INSERT_LOG_EVENT @USER_NAME
	END

GO
/****** Object:  StoredProcedure [dbo].[PROC_LOGOUT_EVENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_LOGOUT_EVENT] @USER_NAME VARCHAR(65)
AS
	BEGIN
		SET @USER_NAME = CONCAT('LOGOUT WITH USER NAME ', @USER_NAME)
		EXEC PROC_INSERT_LOG_EVENT @USER_NAME
	END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_ACCOUNT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_ACCOUNT] 
	@USER_NAME VARCHAR(65), 
	@PASSWORD VARCHAR(65),
	@SUCC INT OUTPUT
AS
	BEGIN TRY
		UPDATE ACCOUNT 
		SET PASSWORD = @PASSWORD
		WHERE USER_NAME = @USER_NAME
		SET @SUCC = @@ROWCOUNT
	END TRY
	BEGIN CATCH
		SET @SUCC = @@ROWCOUNT
		RETURN
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BOOK]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_UPDATE_BOOK] 
	@ID_BOOK CHAR(10),
    @BOOK_STATE NVARCHAR(30),
    @NUMBER_OF_PAGES INT,
    @BOOK_STATUS BIT,
    @CREATE_AT DATE,
    @SERIAL VARCHAR(15)
AS

BEGIN
UPDATE dbo.BOOK SET ID_BOOK = @ID_BOOK , BOOK_STATE= @BOOK_STATE , NUMBER_OF_PAGES=@NUMBER_OF_PAGES , BOOK_STATUS = @BOOK_STATUS ,
CREATE_AT = @CREATE_AT , SERIAL = @SERIAL 
WHERE ID_BOOK = @ID_BOOK
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BORROW]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_BORROW]
(@id_borrow int, @ID_CARD varchar(15), @CREATED_AT date, @DUE_DATE date, @ACCOUNT
varchar(65))
as
begin
update BORROW set ID_CARD=@ID_CARD,CREATED_AT=@CREATED_AT,DUE_DATE=@DUE_DATE,ACCOUNT=@ACCOUNT
WHERE ID_BORROW =@id_borrow
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BORROW_DETAIL]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_BORROW_DETAIL]
(@ID_BORROW int,@RETURN_DATE datetime,@COMMENT nvarchar(50),@ID_BOOK char(10),@BOOK_STATE nvarchar(40))
as
begin
update BORROW_DETAIL set RETURN_DATE=@RETURN_DATE, COMMENT=@COMMENT,ID_BOOK=@ID_BOOK, BOOK_STATE=@BOOK_STATE
WHERE ID_BORROW =@ID_BORROW
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_DETAIL_OVERDUE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_DETAIL_OVERDUE]
(@ID_TICKET int,@EXPIRED_DATE int,@DUE_TO ntext, @FINE bigint,@TATTERED_PAGES int,@CREATED_AT smalldatetime,@RULE_VIOLATIONS tinyint,@OVERDUE_TICKET char(10))
as
begin
update DETAIL_OVERDUE set 
EXPIRED_DATE=@EXPIRED_DATE,DUE_TO=@DUE_TO,FINE=@FINE,TATTERED_PAGES=@TATTERED_PAGES,CREATED_AT=@CREATED_AT,RULE_VIOLATIONS=@RULE_VIOLATIONS,OVERDUE_TICKET=@OVERDUE_TICKET
WHERE ID_TICKET =@ID_TICKET
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PROC_UPDATE_LIBRARY_CARD]
( 
	@ID_CARD varchar(15),
	@CREATED_AT date,
	@EXPIRATION_DATE date,
	@NOTE ntext
)
as
begin
update LIBRARY_CARD
set
	ID_CARD = @ID_CARD,
	CREATED_AT = @CREATED_AT,
	EXPIRATION_DATE = @EXPIRATION_DATE,
	NOTE = @NOTE
where ID_CARD = @ID_CARD
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_LIST_FINE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_LIST_FINE]
(@ID tinyint, @NAME nvarchar(100),@PERCENT_BOOK_VALUE tinyint,@FINE_PRE_DAY int)
as
begin
update LIST_FINES set NAME=@NAME, PERCENT_BOOK_VALUE=@PERCENT_BOOK_VALUE,FINE_PRE_DAY=@FINE_PRE_DAY
WHERE ID =@ID
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_OVERDUE_TICKET_LIBRARY_CARD]
(@ID char(10),@TOTAL_FINE bigint,@CREATE_AT date,@ID_CARD varchar(15))
as
begin
update OVERDUE_TICKET_LIBRARY_CARD set 
TOTAL_FINE=@TOTAL_FINE,CREATE_AT=@CREATE_AT,ID_CARD=@ID_CARD
WHERE ID =@ID
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PUBLISH_HOUSE]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_PUBLISH_HOUSE](
	@ID CHAR(15),
	@NAME NVARCHAR(100),
	@ADDRESS NVARCHAR(100),
	@PHONE CHAR(10)
)
AS
BEGIN
	UPDATE PUBLISH_HOUSE SET NAME=@NAME, ADDRESS=@ADDRESS, PHONE=@PHONE WHERE ID=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_STUDENT]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_STUDENT] 
	
	@ID varchar(15), 
	@NAME nvarchar(50), 
	@PHONE varchar(15), 
	@EMAIL varchar(50),
	@IMG image, 
	@CLASS nvarchar(30), 
	@DATE_OF_BIRTH date 
as
begin
update STUDENT
set ID = @ID,
	NAME = @NAME,
	PHONE = @PHONE,
	EMAIL = @EMAIL,
	IMG = @IMG,
	CLASS = @CLASS,
	DATE_OF_BIRTH = @DATE_OF_BIRTH
where ID = @ID
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_TAG]    Script Date: 2/2/2021 1:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_TAG](
	@ID INT,
	@NAME NVARCHAR(100)
)
AS
BEGIN
	UPDATE TAG 
	SET NAME=@NAME WHERE ID = @ID
END

GO
