USE [LIBRARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[ID_BOOK] [char](10) NOT NULL,
	[BOOK_STATE] [nvarchar](30) NULL,
	[NUMBER_OF_PAGES] [int] NULL,
	[BOOK_STATUS] [bit] NULL,
	[CREATE_AT] [date] NULL,
	[SERIAL] [varchar](15) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[AU_NAME] [nvarchar](30) NULL,
	[PUB_NAME] [nvarchar](30) NULL,
	[TYPE] [nvarchar](30) NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BOOK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_All_Book]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[View_All_Book] as
SELECT B.ID_BOOK AS [Mã sinh viên],
B.NAME AS [Tên Sách],
B.QUANTITY AS [Số lượng],
B.AU_NAME AS [Tác Giả],
B.PUB_NAME AS [NXB],
B.TYPE AS [Thể loại]
FROM BOOK B
GO
/****** Object:  Table [dbo].[BORROW]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROW](
	[ID_BORROW] [varchar](50) NOT NULL,
	[ID_CARD] [varchar](15) NULL,
	[CREATED_AT] [date] NULL,
	[DUE_DATE] [date] NULL,
	[ACCOUNT] [varchar](65) NULL,
	[ID_BOOK] [char](10) NULL,
	[TIME] [nvarchar](50) NULL,
	[QUAN] [int] NULL,
	[NOTE] [nvarchar](50) NULL,
	[MANV] [varchar](15) NULL,
 CONSTRAINT [PK_BORROW] PRIMARY KEY CLUSTERED 
(
	[ID_BORROW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_ALL_BORROW_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_ALL_BORROW_CARD] AS
SELECT b.ID_BOOK AS [Mã Sách],
c.NAME,
b.QUAN as [Số Lượng],
b.MANV as [Mã Sinh Viên],
b.ID_CARD as [Mã Thẻ],
b.TIME as [Ngày Mượn]
FROM BORROW b, BOOk c where b.ID_BOOK = C.ID_BOOK
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USER_NAME] [varchar](65) NOT NULL,
	[PASSWORD] [varchar](65) NULL,
	[ROLE] [nvarchar](20) NULL,
	[FULL_NAME] [nvarchar](150) NULL,
	[Phone] [char](12) NULL,
 CONSTRAINT [PK__ACCOUNT__E0B75F6E8F97A85B] PRIMARY KEY CLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_LOGIN_ACCOUNT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNCTION_LOGIN_ACCOUNT](@USER_NAME VARCHAR(65), @PASSWORD VARCHAR(65))
RETURNS TABLE
AS
RETURN
		SELECT USER_NAME FROM ACCOUNT WHERE USER_NAME = @USER_NAME AND PASSWORD = @PASSWORD
GO
/****** Object:  Table [dbo].[SERIAL_BOOK]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIAL_BOOK](
	[SERIAL] [varchar](15) NOT NULL,
	[TITLE] [nvarchar](100) NOT NULL,
	[PRICE] [int] NOT NULL,
	[QUANTUM] [int] NOT NULL,
	[IMG] [image] NULL,
	[YEAR_PUBLISHED] [char](4) NULL,
	[TAG] [int] NOT NULL,
	[PUBLISH_HOUSE] [char](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_FIND_BOOK_WITH_TAG]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC DBO.PROC_UPDATE_BOOK 'FN03d2', N'ssdadasdasdasdassdass', 'sssger', 'AlssssphaBooks ', 1, Null, 'STARTUP, YOUNG,'--
--select * from log order by TIME_CREATE
--END
--DROP FUNCTION FUNCTION_BOOK_WITH_TAG
CREATE FUNCTION [dbo].[FUNCTION_FIND_BOOK_WITH_TAG] (@TAG VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT * FROM SERIAL_BOOK WHERE TAG LIKE '%' +@TAG +'%'

GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BOOK_NAME]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BOOK_NAME] ()
RETURNS TABLE
AS
RETURN 
	SELECT TITLE FROM SERIAL_BOOK
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BOOK_SERIAL]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BOOK_SERIAL] ()
RETURNS TABLE
AS
RETURN 
	SELECT SERIAL FROM BOOK

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [varchar](15) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[PHONE] [varchar](15) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[IMG] [image] NULL,
	[CLASS] [nvarchar](30) NULL,
	[DATE_OF_BIRTH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_STUDENT_NAME]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC DBO.PROC_UPDATE_STUDENT 'FN03d2', N'ssdadasdasdasdassdass', 'sssger', 'AlssssphaSTUDENTs ', 1, Null, 'STARTUP, YOUNG,'--


CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_STUDENT_NAME] ()
RETURNS TABLE
AS
RETURN 
	SELECT NAME FROM STUDENT

GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_STUDENT_ID]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_STUDENT_ID] ()
RETURNS TABLE
AS
RETURN 
	SELECT ID FROM STUDENT

GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BORROW_ID]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------------------------STUDENT----------------------------------------------------------------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------------------------BORROW----------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BORROW_ID] ()
RETURNS TABLE
AS
RETURN 
	SELECT ID_BORROW FROM BORROW
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_STUDENT_BORROW]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNCTION_GET_STUDENT_BORROW] (@ID VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT  BORROW.ID_BORROW, BORROW.ID_CARD,ID_BOOK, quan,MANV, TIME
	FROM BORROW
	WHERE MANV = @ID
	--BORROW.ID_CARD = @ID or BORROW_DETAIL.IDCARD = @ID
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_BORROW]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNCTION_GET_BORROW] (@ID VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT BORROW.ID_BORROW, BORROW.ID_CARD,ID_BOOK, quan,MANV, TIME
	FROM BORROW 
	WHERE ID_BORROW = @ID 
	--WHERE BORROW.ID_BORROW = @ID or BORROW_DETAIL.ID_BORROW = @ID
	--AND A.ID_BORROW = B.ID_BORROW

GO
/****** Object:  View [dbo].[VIEW_ALL_STUDENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_ALL_STUDENT]
AS
SELECT        ID AS [Mã sinh viên], NAME AS [Họ và Tên], PHONE AS [Số điện thoại], EMAIL AS [Địa chỉ email], DATE_OF_BIRTH
FROM            dbo.STUDENT
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[DATE_OF_BIRTH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR_BOOK]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR_BOOK](
	[SERIAL_BOOK] [varchar](15) NULL,
	[ID_AUTHOR] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BORROW_DETAIL]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROW_DETAIL](
	[ID_BORROW] [varchar](50) NOT NULL,
	[RETURN_DATE] [datetime] NULL,
	[COMMENT] [nvarchar](50) NULL,
	[ID_BOOK] [char](10) NULL,
	[BOOK_STATE] [nvarchar](40) NULL,
	[IDCARD] [varchar](50) NULL,
	[TIME] [nvarchar](50) NULL,
	[Quan] [int] NULL,
	[Note] [nvarchar](50) NULL,
	[MANV] [varchar](15) NULL,
 CONSTRAINT [PK_BORROW_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID_BORROW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_OVERDUE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_OVERDUE](
	[ID_TICKET] [int] NOT NULL,
	[EXPIRED_DATE] [int] NOT NULL,
	[DUE_TO] [ntext] NOT NULL,
	[FINE] [bigint] NOT NULL,
	[TATTERED_PAGES] [int] NULL,
	[CREATED_AT] [smalldatetime] NULL,
	[RULE_VIOLATIONS] [tinyint] NULL,
	[OVERDUE_TICKET] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRARY_CARD](
	[ID_CARD] [varchar](15) NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[EXPIRATION_DATE] [date] NOT NULL,
	[NOTE] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIST_FINES]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIST_FINES](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[PERCENT_BOOK_VALUE] [tinyint] NULL,
	[FINE_PRE_DAY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[ACTION] [nvarchar](100) NULL,
	[TIME_CREATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OVERDUE_TICKET_LIBRARY_CARD](
	[ID] [char](10) NOT NULL,
	[TOTAL_FINE] [bigint] NOT NULL,
	[CREATE_AT] [date] NOT NULL,
	[ID_CARD] [varchar](15) NULL,
 CONSTRAINT [PK_OVERDUE_TICKET_LIBRARY_CARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISH_HOUSE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISH_HOUSE](
	[ID] [char](15) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[PHONE] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD], [ROLE], [FULL_NAME], [Phone]) VALUES (N'', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', NULL, NULL, NULL)
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD], [ROLE], [FULL_NAME], [Phone]) VALUES (N'1', N'4e07408562bedb8b60ce05c1decfe3ad16b72230967de01f640b7e4729b49fce', NULL, NULL, NULL)
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD], [ROLE], [FULL_NAME], [Phone]) VALUES (N'123', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[AUTHOR] ON 

INSERT [dbo].[AUTHOR] ([ID], [NAME], [ADDRESS], [DATE_OF_BIRTH]) VALUES (1, N'Tô Hoài', N'Hà Tây', CAST(N'2000-01-03' AS Date))
INSERT [dbo].[AUTHOR] ([ID], [NAME], [ADDRESS], [DATE_OF_BIRTH]) VALUES (2, N'Lê Chí', N'Hà Nam', CAST(N'2000-01-03' AS Date))
SET IDENTITY_INSERT [dbo].[AUTHOR] OFF
GO
INSERT [dbo].[AUTHOR_BOOK] ([SERIAL_BOOK], [ID_AUTHOR]) VALUES (N'1', 1)
INSERT [dbo].[AUTHOR_BOOK] ([SERIAL_BOOK], [ID_AUTHOR]) VALUES (N'1', 2)
INSERT [dbo].[AUTHOR_BOOK] ([SERIAL_BOOK], [ID_AUTHOR]) VALUES (N'2', 1)
GO
INSERT [dbo].[BOOK] ([ID_BOOK], [BOOK_STATE], [NUMBER_OF_PAGES], [BOOK_STATUS], [CREATE_AT], [SERIAL], [NAME], [AU_NAME], [PUB_NAME], [TYPE], [QUANTITY]) VALUES (N'1         ', N'1', 1, 1, CAST(N'2020-01-01' AS Date), N'1', N'Tam Quốc', N'GCL', N'NXB Văn Học', N'Tiêu thuyết', 10)
INSERT [dbo].[BOOK] ([ID_BOOK], [BOOK_STATE], [NUMBER_OF_PAGES], [BOOK_STATUS], [CREATE_AT], [SERIAL], [NAME], [AU_NAME], [PUB_NAME], [TYPE], [QUANTITY]) VALUES (N'112       ', NULL, NULL, 0, NULL, N'1', N'Khóa', N'Anh', N'gd', NULL, 1)
INSERT [dbo].[BOOK] ([ID_BOOK], [BOOK_STATE], [NUMBER_OF_PAGES], [BOOK_STATUS], [CREATE_AT], [SERIAL], [NAME], [AU_NAME], [PUB_NAME], [TYPE], [QUANTITY]) VALUES (N'123       ', NULL, NULL, 0, NULL, N'1', N'Thúy Kiều', N'Trọng Kim', N'gd', N'abc', 4)
GO
INSERT [dbo].[BORROW] ([ID_BORROW], [ID_CARD], [CREATED_AT], [DUE_DATE], [ACCOUNT], [ID_BOOK], [TIME], [QUAN], [NOTE], [MANV]) VALUES (N'1', N'1', CAST(N'2020-04-04' AS Date), CAST(N'2020-04-04' AS Date), N'1', N'2         ', N'2020-01-01', 2, NULL, N'1')
INSERT [dbo].[BORROW] ([ID_BORROW], [ID_CARD], [CREATED_AT], [DUE_DATE], [ACCOUNT], [ID_BOOK], [TIME], [QUAN], [NOTE], [MANV]) VALUES (N'10', N'10', CAST(N'2000-02-02' AS Date), CAST(N'2000-09-09' AS Date), N'1', N'2         ', N'2020-01-01', 3, NULL, N'113')
INSERT [dbo].[BORROW] ([ID_BORROW], [ID_CARD], [CREATED_AT], [DUE_DATE], [ACCOUNT], [ID_BOOK], [TIME], [QUAN], [NOTE], [MANV]) VALUES (N'11', N'1', CAST(N'2020-11-04' AS Date), CAST(N'2020-11-09' AS Date), N'1', N'4         ', N'2020-01-01', 2, NULL, N'1')
GO
INSERT [dbo].[BORROW_DETAIL] ([ID_BORROW], [RETURN_DATE], [COMMENT], [ID_BOOK], [BOOK_STATE], [IDCARD], [TIME], [Quan], [Note], [MANV]) VALUES (N'1', NULL, NULL, N'2         ', NULL, N'1', N'11-4-2020', 1, N'1', N'1')
INSERT [dbo].[BORROW_DETAIL] ([ID_BORROW], [RETURN_DATE], [COMMENT], [ID_BOOK], [BOOK_STATE], [IDCARD], [TIME], [Quan], [Note], [MANV]) VALUES (N'2', NULL, NULL, N'1         ', NULL, N'1', N'11-4-2020', 1, N'1', N'1')
INSERT [dbo].[BORROW_DETAIL] ([ID_BORROW], [RETURN_DATE], [COMMENT], [ID_BOOK], [BOOK_STATE], [IDCARD], [TIME], [Quan], [Note], [MANV]) VALUES (N'4', NULL, NULL, N'6         ', NULL, N'6', N'11-4-2020', 6, N'6', N'1')
GO
INSERT [dbo].[DETAIL_OVERDUE] ([ID_TICKET], [EXPIRED_DATE], [DUE_TO], [FINE], [TATTERED_PAGES], [CREATED_AT], [RULE_VIOLATIONS], [OVERDUE_TICKET]) VALUES (1, 8, N'111', 11, 111, CAST(N'2020-01-01T00:00:00' AS SmallDateTime), 11, N'11        ')
GO
INSERT [dbo].[LIBRARY_CARD] ([ID_CARD], [CREATED_AT], [EXPIRATION_DATE], [NOTE]) VALUES (N'1', CAST(N'2020-01-09' AS Date), CAST(N'2020-01-09' AS Date), N'thẻ sv')
INSERT [dbo].[LIBRARY_CARD] ([ID_CARD], [CREATED_AT], [EXPIRATION_DATE], [NOTE]) VALUES (N'1234', CAST(N'2020-01-01' AS Date), CAST(N'2020-01-09' AS Date), N'thẻ sv')
INSERT [dbo].[LIBRARY_CARD] ([ID_CARD], [CREATED_AT], [EXPIRATION_DATE], [NOTE]) VALUES (N'18150038', CAST(N'2020-12-03' AS Date), CAST(N'2024-12-03' AS Date), N'Thẻ sinh viên')
GO
INSERT [dbo].[LIST_FINES] ([ID], [NAME], [PERCENT_BOOK_VALUE], [FINE_PRE_DAY]) VALUES (1, N'abc', 1, 1)
INSERT [dbo].[LIST_FINES] ([ID], [NAME], [PERCENT_BOOK_VALUE], [FINE_PRE_DAY]) VALUES (2, N'cc', 1, 1)
GO
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'CREATE USE thanhttrinh', CAST(N'2020-11-29T23:28:22.677' AS DateTime))
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'UPDATE PASSWORD FOR USER thanhtrinh', CAST(N'2020-11-29T23:51:20.017' AS DateTime))
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'UPDATE PASSWORD FOR USER thanhtrinh', CAST(N'2020-11-29T23:53:43.763' AS DateTime))
GO
INSERT [dbo].[OVERDUE_TICKET_LIBRARY_CARD] ([ID], [TOTAL_FINE], [CREATE_AT], [ID_CARD]) VALUES (N'1         ', 1, CAST(N'2020-01-01' AS Date), N'1234')
INSERT [dbo].[OVERDUE_TICKET_LIBRARY_CARD] ([ID], [TOTAL_FINE], [CREATE_AT], [ID_CARD]) VALUES (N'2         ', 1, CAST(N'2020-01-02' AS Date), N'1234')
GO
INSERT [dbo].[PUBLISH_HOUSE] ([ID], [NAME], [ADDRESS], [PHONE]) VALUES (N'1              ', N'1', N'1', N'1         ')
INSERT [dbo].[PUBLISH_HOUSE] ([ID], [NAME], [ADDRESS], [PHONE]) VALUES (N'GD             ', N'Giáo dục', NULL, N'0254504544')
INSERT [dbo].[PUBLISH_HOUSE] ([ID], [NAME], [ADDRESS], [PHONE]) VALUES (N'KHXH           ', N'Khoa học xã hội', NULL, N'0254504540')
GO
INSERT [dbo].[SERIAL_BOOK] ([SERIAL], [TITLE], [PRICE], [QUANTUM], [IMG], [YEAR_PUBLISHED], [TAG], [PUBLISH_HOUSE]) VALUES (N'1', N'nothing', 1000, 5, NULL, N'1999', 1, N'1              ')
INSERT [dbo].[SERIAL_BOOK] ([SERIAL], [TITLE], [PRICE], [QUANTUM], [IMG], [YEAR_PUBLISHED], [TAG], [PUBLISH_HOUSE]) VALUES (N'2', N'abc', 1111, 2, NULL, N'1998', 2, N'GD             ')
INSERT [dbo].[SERIAL_BOOK] ([SERIAL], [TITLE], [PRICE], [QUANTUM], [IMG], [YEAR_PUBLISHED], [TAG], [PUBLISH_HOUSE]) VALUES (N'a', N'a', 111, 1, NULL, N'1888', 1, N'1              ')
GO
INSERT [dbo].[STUDENT] ([ID], [NAME], [PHONE], [EMAIL], [IMG], [CLASS], [DATE_OF_BIRTH]) VALUES (N'1', N'a', N'111', N'1@c.c', NULL, NULL, CAST(N'2000-04-02' AS Date))
INSERT [dbo].[STUDENT] ([ID], [NAME], [PHONE], [EMAIL], [IMG], [CLASS], [DATE_OF_BIRTH]) VALUES (N'11', N'Trần Thùy Linh', N'222111111', N'1@m.com', NULL, NULL, CAST(N'2000-05-01' AS Date))
INSERT [dbo].[STUDENT] ([ID], [NAME], [PHONE], [EMAIL], [IMG], [CLASS], [DATE_OF_BIRTH]) VALUES (N'113', N'Can Văn Ông', N'22341111', N'c@c.c', NULL, NULL, CAST(N'2000-05-07' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TAG] ON 

INSERT [dbo].[TAG] ([ID], [NAME]) VALUES (1, N'tag1')
INSERT [dbo].[TAG] ([ID], [NAME]) VALUES (2, N'tag2')
INSERT [dbo].[TAG] ([ID], [NAME]) VALUES (3, N'tag3')
SET IDENTITY_INSERT [dbo].[TAG] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AUTHOR_B__28FAA4E004D48D5A]    Script Date: 6/28/2021 6:05:26 PM ******/
ALTER TABLE [dbo].[AUTHOR_BOOK] ADD UNIQUE NONCLUSTERED 
(
	[SERIAL_BOOK] ASC,
	[ID_AUTHOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOK] ADD  DEFAULT ((0)) FOR [BOOK_STATUS]
GO
ALTER TABLE [dbo].[DETAIL_OVERDUE] ADD  DEFAULT ((0)) FOR [TATTERED_PAGES]
GO
ALTER TABLE [dbo].[LIST_FINES] ADD  DEFAULT ((0)) FOR [PERCENT_BOOK_VALUE]
GO
ALTER TABLE [dbo].[AUTHOR_BOOK]  WITH CHECK ADD  CONSTRAINT [FK__AUTHOR_BO__ID_AU__68487DD7] FOREIGN KEY([ID_AUTHOR])
REFERENCES [dbo].[AUTHOR] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AUTHOR_BOOK] CHECK CONSTRAINT [FK__AUTHOR_BO__ID_AU__68487DD7]
GO
ALTER TABLE [dbo].[AUTHOR_BOOK]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_BOOK_SERIAL_BOOK] FOREIGN KEY([SERIAL_BOOK])
REFERENCES [dbo].[SERIAL_BOOK] ([SERIAL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AUTHOR_BOOK] CHECK CONSTRAINT [FK_AUTHOR_BOOK_SERIAL_BOOK]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK__BOOK__SERIAL__607251E5] FOREIGN KEY([SERIAL])
REFERENCES [dbo].[SERIAL_BOOK] ([SERIAL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK__BOOK__SERIAL__607251E5]
GO
ALTER TABLE [dbo].[BORROW]  WITH CHECK ADD  CONSTRAINT [FK_BORROW_ACCOUNT] FOREIGN KEY([ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([USER_NAME])
GO
ALTER TABLE [dbo].[BORROW] CHECK CONSTRAINT [FK_BORROW_ACCOUNT]
GO
ALTER TABLE [dbo].[BORROW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BORROW_DETAIL_BOOK] FOREIGN KEY([ID_BOOK])
REFERENCES [dbo].[BOOK] ([ID_BOOK])
GO
ALTER TABLE [dbo].[BORROW_DETAIL] CHECK CONSTRAINT [FK_BORROW_DETAIL_BOOK]
GO
ALTER TABLE [dbo].[BORROW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BORROW_DETAIL_BORROW] FOREIGN KEY([ID_BORROW])
REFERENCES [dbo].[BORROW] ([ID_BORROW])
GO
ALTER TABLE [dbo].[BORROW_DETAIL] CHECK CONSTRAINT [FK_BORROW_DETAIL_BORROW]
GO
ALTER TABLE [dbo].[LIBRARY_CARD]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_LIBRARY_CARD] FOREIGN KEY([ID_CARD])
REFERENCES [dbo].[STUDENT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIBRARY_CARD] CHECK CONSTRAINT [FK_STUDENT_LIBRARY_CARD]
GO
ALTER TABLE [dbo].[OVERDUE_TICKET_LIBRARY_CARD]  WITH CHECK ADD  CONSTRAINT [FK_OVERDUE_TICKET_LIBRARY_CARD_LIBRARY_CARD] FOREIGN KEY([ID_CARD])
REFERENCES [dbo].[LIBRARY_CARD] ([ID_CARD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OVERDUE_TICKET_LIBRARY_CARD] CHECK CONSTRAINT [FK_OVERDUE_TICKET_LIBRARY_CARD_LIBRARY_CARD]
GO
ALTER TABLE [dbo].[SERIAL_BOOK]  WITH CHECK ADD  CONSTRAINT [FK__SERIAL_BO__PUBLI__625A9A57] FOREIGN KEY([PUBLISH_HOUSE])
REFERENCES [dbo].[PUBLISH_HOUSE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERIAL_BOOK] CHECK CONSTRAINT [FK__SERIAL_BO__PUBLI__625A9A57]
GO
ALTER TABLE [dbo].[SERIAL_BOOK]  WITH CHECK ADD  CONSTRAINT [FK__SERIAL_BOOK__TAG__58D1301D] FOREIGN KEY([TAG])
REFERENCES [dbo].[TAG] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERIAL_BOOK] CHECK CONSTRAINT [FK__SERIAL_BOOK__TAG__58D1301D]
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_ACCOUNT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PROC_DELETE_ACCOUNT] 
( 
	@USER_NAME varchar(65)
)
as
begin
delete from ACCOUNT
where USER_NAME = @USER_NAME
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BOOK]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_BOOK] 
	@ID_BOOK VARCHAR(15)
AS
	DELETE BOOK 
	WHERE ID_BOOK= @ID_BOOK

GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BORROW]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[PROC_DELETE_BORROW]
 (@ID_BORROW varchar(15))
 as
 begin
delete  from BORROW where ID_BORROW=@ID_BORROW
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BORROW_DETAIL]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PROC_DELETE_BORROW_DETAIL]
 (@ID_BORROW varchar(15))
 as
 begin
delete  from BORROW_DETAIL where ID_BORROW=@ID_BORROW
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_DETAIL_OVERDUE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_DELETE_DETAIL_OVERDUE]
 (@ID_TICKET int)
 as
 begin
 delete from DETAIL_OVERDUE where ID_TICKET=@ID_TICKET
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PROC_DELETE_LIBRARY_CARD]
( 
	@ID_CARD varchar(15)
)
as
begin
delete from LIBRARY_CARD
where ID_CARD = @ID_CARD
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_LIST_FINES]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_DELETE_LIST_FINES]
 (@ID tinyint)
 as
 begin
 delete from LIST_FINES where ID=@ID
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[PROC_DELETE_OVERDUE_TICKET_LIBRARY_CARD]
 (@ID char(10))
 as
 begin
 delete from OVERDUE_TICKET_LIBRARY_CARD where ID=@ID
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_PUBLISH_HOUSE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_DELETE_PUBLISH_HOUSE](
	@ID CHAR(15)
)AS
BEGIN
	DELETE PUBLISH_HOUSE WHERE ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_SERIALBOOK]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_SERIALBOOK] 
	@SERIAL VARCHAR(15)
AS
	DELETE BOOK 
	WHERE SERIAL= @SERIAL

GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_STUDENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_STUDENT] 
	@ID VARCHAR(15)
AS
	DELETE STUDENT 
	WHERE ID= @ID

GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_TAG]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_DELETE_TAG](
	@ID INT
)
AS
BEGIN
	DELETE TAG
	WHERE ID=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_ACCOUNT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--delete from log where 1=1
--	select *from ACCOUNT
--select * from log
--select * from log order by TIME_CREATE
--END
----------------------------------------------------------------------------------------------------------------------LOG----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------ACCOUNT----------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE PROC [dbo].[PROC_INSERT_ACCOUNT] 
	@USER_NAME VARCHAR(65), 
	@PASSWORD VARCHAR(65), 
	@SUCC INT OUTPUT
AS
	BEGIN TRY
		INSERT INTO ACCOUNT(USER_NAME, PASSWORD) VALUES (@USER_NAME, @PASSWORD)
		SET @SUCC = @@ROWCOUNT
	END TRY
	BEGIN CATCH
		SET @SUCC = @@ROWCOUNT
	RETURN
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BOOK]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_BOOK] 
	@ID_BOOK CHAR(10), 
	@Ten NVARCHAR(30),
	@TG NVARCHAR(30),
	@NXB NVARCHAR(30),
	@SERIAL varchar(15),
	@SL INT

	--@BOOK_STATE NVARCHAR(30), 
	--@NUMBER_OF_PAGES int, 
	--@BOOK_STATUS NVARCHAR(50), 
	--@CREATE_AT DATE, 
	--@SERIAL varchar(15)
AS
BEGIN
	--INSERT INTO BOOK VALUES(@ID_BOOK, @BOOK_STATE, @NUMBER_OF_PAGES, @BOOK_STATUS, @CREATE_AT, @SERIAL)
	INSERT INTO BOOK(ID_BOOK, NAME, AU_NAME,PUB_NAME,SERIAL,QUANTITY) VALUES(@ID_BOOK, @Ten, @TG, @NXB,@SERIAL, @SL)
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BORROW]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_BORROW]
	--@id_bo VARCHAR(15),
	@ID_CARD VARCHAR(15),
	@CREATED_AT date,
	@DUE_DATE date,
	@ACCOUNT varchar(65)
	AS
	INSERT INTO BORROW VALUES ( @ID_CARD, @CREATED_AT, @DUE_DATE, @ACCOUNT)  
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BORROW_DETAIL]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PROC_INSERT_BORROW_DETAIL]
 --(@ID_BORROW int,@RETURN_DATE datetime,@COMMENT nvarchar(50),@ID_BOOK char(10),@BOOK_STATE nvarchar(40))
 (@ID_BORROW varchar(50), @idcard varchar(15),@masv nvarchar(50),@ID_BOOK char(10),@sl int, @tg nvarchar(50), @note nvarchar(50))
 as
 begin
 insert into BORROW(ID_BORROW, ID_CARD, MANV, ID_BOOK, Quan, TIME, NOTE) values (@ID_BORROW,@idcard,@masv,@ID_BOOK ,@sl , @tg , @note )
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_DETAIL_OVERDUE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_INSERT_DETAIL_OVERDUE]
 (@ID_TICKET int,@EXPIRED_DATE int,@DUE_TO ntext,@FINE bigint,@TATTERED_PAGES int,@CREATED_AT smalldatetime,@RULE_VIOLATIONS tinyint,@OVERDUE_TICKET char(10))
 as
 begin
 insert into DETAIL_OVERDUE values (@ID_TICKET,@EXPIRED_DATE,@DUE_TO,@FINE,@TATTERED_PAGES,@CREATED_AT,@RULE_VIOLATIONS,@OVERDUE_TICKET)
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[PROC_INSERT_LIBRARY_CARD]
( 
	@ID_CARD varchar(15),
	@CREATED_AT date,
	@EXPIRATION_DATE date,
	@NOTE ntext
)
as
begin
insert LIBRARY_CARD
(
	ID_CARD,
	CREATED_AT,
	EXPIRATION_DATE,
	NOTE
)
values 
( 
	@ID_CARD,
	@CREATED_AT,
	@EXPIRATION_DATE,
	@NOTE
)
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_LIST_FINES]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_INSERT_LIST_FINES]
 (@ID tinyint,@NAME nvarchar(100),@PERCENT_BOOK_VALUE tinyint,@FINE_PRE_DAY int)
 as
 begin
 insert into LIST_FINES values (@ID,@NAME,@PERCENT_BOOK_VALUE,@FINE_PRE_DAY)
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_LOG_EVENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC PROC_LOGIN_EVENT 'ADSDASD'
CREATE PROC [dbo].[PROC_INSERT_LOG_EVENT] @ACTION VARCHAR(100)
AS
	INSERT INTO LOG VALUES(@ACTION, SYSDATETIME())
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_INSERT_OVERDUE_TICKET_LIBRARY_CARD]
 (@ID char(10),@TOTAL_FINE bigint,@CREATE_AT date,@ID_CARD varchar(15))
 as
 begin
 insert into OVERDUE_TICKET_LIBRARY_CARD values (@ID,@TOTAL_FINE,@CREATE_AT,@ID_CARD)
 end
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_PUBLISH_HOUSE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_INSERT_PUBLISH_HOUSE](
	@ID CHAR(15),
	@NAME NVARCHAR(100),
	@ADDRESS NVARCHAR(100),
	@PHONE CHAR(10)
)
AS
BEGIN
	INSERT INTO PUBLISH_HOUSE VALUES(@ID, @NAME, @ADDRESS, @PHONE)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_STUDENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_STUDENT] 
	@ID varchar(15), 
	@NAME nvarchar(50), 
	@PHONE varchar(15), 
	@EMAIL varchar(50)
	--@IMG image, 
	--@CLASS nvarchar(30), 
	--@DATE_OF_BIRTH date 

as
begin
insert STUDENT
(
	ID,
	NAME,
	PHONE,
	EMAIL
	--IMG,
	--CLASS,
	--DATE_OF_BIRTH
)
values 
( 
	@ID,
	@NAME,
	@PHONE,
	@EMAIL
	--@IMG,
	--@CLASS,
	--@DATE_OF_BIRTH
)
end

GO
/****** Object:  StoredProcedure [dbo].[PROC_LOGIN_EVENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP PROC PROC_LOGIN_EVENT
CREATE PROC [dbo].[PROC_LOGIN_EVENT] @USER_NAME VARCHAR(65)
AS
	BEGIN
		SET @USER_NAME = CONCAT('LOGIN WITH USER NAME ', @USER_NAME)
		EXEC PROC_INSERT_LOG_EVENT @USER_NAME
	END

GO
/****** Object:  StoredProcedure [dbo].[PROC_LOGOUT_EVENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_LOGOUT_EVENT] @USER_NAME VARCHAR(65)
AS
	BEGIN
		SET @USER_NAME = CONCAT('LOGOUT WITH USER NAME ', @USER_NAME)
		EXEC PROC_INSERT_LOG_EVENT @USER_NAME
	END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_ACCOUNT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_ACCOUNT] 
	@USER_NAME VARCHAR(65), 
	@PASSWORD VARCHAR(65),
	@SUCC INT OUTPUT
AS
	BEGIN TRY
		UPDATE ACCOUNT 
		SET PASSWORD = @PASSWORD
		WHERE USER_NAME = @USER_NAME
		SET @SUCC = @@ROWCOUNT
	END TRY
	BEGIN CATCH
		SET @SUCC = @@ROWCOUNT
		RETURN
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BOOK]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_UPDATE_BOOK] 
	@ID_BOOK CHAR(10),
	@Ten NVARCHAR(30),
	@TG NVARCHAR(30),
	@NXB NVARCHAR(30),
	@L NVARCHAR(30),
	@SL INT

    --@BOOK_STATE NVARCHAR(30),
    --@NUMBER_OF_PAGES INT,
    --@BOOK_STATUS BIT,
    --@CREATE_AT DATE,
    --@SERIAL VARCHAR(15)
AS

BEGIN
UPDATE dbo.BOOK SET ID_BOOK = @ID_BOOK, NAME= @Ten, AU_NAME = @TG, PUB_NAME=@NXB, TYPE =@L, QUANTITY=@SL
WHERE ID_BOOK = @ID_BOOK
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BORROW]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_BORROW]
(@id_borrow int, @ID_CARD varchar(15), @CREATED_AT date, @DUE_DATE date, @ACCOUNT
varchar(65))
as
begin
update BORROW set ID_CARD=@ID_CARD,CREATED_AT=@CREATED_AT,DUE_DATE=@DUE_DATE,ACCOUNT=@ACCOUNT
WHERE ID_BORROW =@id_borrow
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BORROW_DETAIL]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_BORROW_DETAIL]
(@ID_BORROW int,@RETURN_DATE datetime,@COMMENT nvarchar(50),@ID_BOOK char(10),@BOOK_STATE nvarchar(40))
as
begin
update BORROW_DETAIL set RETURN_DATE=@RETURN_DATE, COMMENT=@COMMENT,ID_BOOK=@ID_BOOK, BOOK_STATE=@BOOK_STATE
WHERE ID_BORROW =@ID_BORROW
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_DETAIL_OVERDUE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_DETAIL_OVERDUE]
(@ID_TICKET int,@EXPIRED_DATE int,@DUE_TO ntext, @FINE bigint,@TATTERED_PAGES int,@CREATED_AT smalldatetime,@RULE_VIOLATIONS tinyint,@OVERDUE_TICKET char(10))
as
begin
update DETAIL_OVERDUE set 
EXPIRED_DATE=@EXPIRED_DATE,DUE_TO=@DUE_TO,FINE=@FINE,TATTERED_PAGES=@TATTERED_PAGES,CREATED_AT=@CREATED_AT,RULE_VIOLATIONS=@RULE_VIOLATIONS,OVERDUE_TICKET=@OVERDUE_TICKET
WHERE ID_TICKET =@ID_TICKET
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PROC_UPDATE_LIBRARY_CARD]
( 
	@ID_CARD varchar(15),
	@CREATED_AT date,
	@EXPIRATION_DATE date,
	@NOTE ntext
)
as
begin
update LIBRARY_CARD
set
	ID_CARD = @ID_CARD,
	CREATED_AT = @CREATED_AT,
	EXPIRATION_DATE = @EXPIRATION_DATE,
	NOTE = @NOTE
where ID_CARD = @ID_CARD
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_LIST_FINE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_LIST_FINE]
(@ID tinyint, @NAME nvarchar(100),@PERCENT_BOOK_VALUE tinyint,@FINE_PRE_DAY int)
as
begin
update LIST_FINES set NAME=@NAME, PERCENT_BOOK_VALUE=@PERCENT_BOOK_VALUE,FINE_PRE_DAY=@FINE_PRE_DAY
WHERE ID =@ID
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_OVERDUE_TICKET_LIBRARY_CARD]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_OVERDUE_TICKET_LIBRARY_CARD]
(@ID char(10),@TOTAL_FINE bigint,@CREATE_AT date,@ID_CARD varchar(15))
as
begin
update OVERDUE_TICKET_LIBRARY_CARD set 
TOTAL_FINE=@TOTAL_FINE,CREATE_AT=@CREATE_AT,ID_CARD=@ID_CARD
WHERE ID =@ID
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PUBLISH_HOUSE]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_PUBLISH_HOUSE](
	@ID CHAR(15),
	@NAME NVARCHAR(100),
	@ADDRESS NVARCHAR(100),
	@PHONE CHAR(10)
)
AS
BEGIN
	UPDATE PUBLISH_HOUSE SET NAME=@NAME, ADDRESS=@ADDRESS, PHONE=@PHONE WHERE ID=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_STUDENT]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_UPDATE_STUDENT] 
	
	@ID varchar(15), 
	@NAME nvarchar(50), 
	@PHONE varchar(15), 
	@EMAIL varchar(50)
	--@IMG image, 
	--@CLASS nvarchar(30), 
	--@DATE_OF_BIRTH date 
as
begin
update STUDENT
set ID = @ID,
	NAME = @NAME,
	PHONE = @PHONE,
	EMAIL = @EMAIL
	--IMG = @IMG,
	--CLASS = @CLASS,
	--DATE_OF_BIRTH = @DATE_OF_BIRTH
where ID = @ID
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_TAG]    Script Date: 6/28/2021 6:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_TAG](
	@ID INT,
	@NAME NVARCHAR(100)
)
AS
BEGIN
	UPDATE TAG 
	SET NAME=@NAME WHERE ID = @ID
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "STUDENT"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_ALL_STUDENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_ALL_STUDENT'
GO
